<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <title>Great Number Game</title>
</head>
<body style="background-image: url('static/img/cool-background.png'); background-repeat: no-repeat; background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:5000/reset">GNG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/leaderboard">Leaderboard</a>
                </li>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 font-monospace text-white">
        <h1 class="text-center bolder">Welcome to the Great Number Game!</h1>
        <h3 class="text-center mt-5">I am thinking of a number between 1 and 100!</h3>
        <h3 class="text-center mb-5">Take a guess...</h3>

        {% if session['check']=='correct': %}
            <div class="block mx-auto mb-3 bg-success rounded-pill shadow-lg text-white d-flex flex-column align-items-center justify-content-center">
                <h1>{{session['random']}} was the number!</h1>
                <a role="button" class="btn btn-info rounded mt-1" href="http://127.0.0.1:5000/reset">Play Again!</a>
            </div>
        {% endif %}
        {% if session['check']=='gameover': %}
            <div class="block mx-auto mb-3 bg-danger rounded-pill shadow-lg text-white d-flex flex-column align-items-center justify-content-center">
                <h1>YOU LOSE!!</h1>
                <a role="button" class="btn btn-info rounded mt-1" href="http://127.0.0.1:5000/reset">Play Again!</a>
            </div>
        {% endif %}
        {% if session['check']=='low': %}
            <div class="block mx-auto mb-3 bg-warning rounded-pill shadow-lg text-white d-flex align-items-center justify-content-center">
                <h1>Too low!</h1>
            </div>
        {% endif %}
        {% if session['check']=='high': %}
            <div class="block mx-auto mb-3 bg-warning rounded-pill shadow-lg text-white d-flex align-items-center justify-content-center">
                <h1>Too high!</h1>
            </div>
        {% endif %}

        {% if session['check']=='correct' and session['guesses']==1: %}
            <h3 class="text-center mt-5">It took you {{session['guesses']}} try to get it right!!</h3>
        {% elif (session['check']=='correct'): %}
            <h3 class="text-center mt-5">It took you {{session['guesses']}} tries to get it right!!</h3>
        {% endif %}

        {% if session['check']=='gameover' %}
            <h3 class="text-center mt-5 mb-5">You only have 5 attempts to guess the right number</h3>
        {% endif %}

        {% if session['check']!='correct' and session['check']!='gameover': %}
        <form action="/submit" method="POST" class="d-grid gap-2 col-2 mx-auto">
            <input type="text" name="guess" class="form-control" placeholder="Enter guess...">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
    </div>

</body>
</html>